In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split 
from resource import classificator, test, plot

In [2]:
inner = np.asarray([
    [0.7295200749361322, 0.7286337326606256],
    [0.826505923560258, 0.9403158114766519],
    [0.6023139955320228, 0.4890999051968531],
    [0.7924301535257385, 0.9724603339895345],
    [0.3739062132424882, 0.3807945141554343],
    [0.5213825315815278, 0.7011647516840395],
    [0.5799489554848042, 0.860210492806848],
    [0.4472712889659769, 0.23208680582951224],
    [0.8266928088733442, 0.9708616047497776],
    [0.2096090384196102, 0.07948946448504302],
    [0.33832612728389067, 0.4113630733104253],
    [0.68383264433507, 0.9003136248995234],
    [0.3974079484193441, 0.44643242592599985],
    [0.26193673674112883, 0.20727182114712916]
  ])

outer =  np.asarray([
    [0.846590438950232, 0.12680486596335516],
    [0.11671041192819076, 0.8523469688748586],
    [0.8939436660435063, 0.20441969005621619],
    [0.196515524259539, 0.7563403480339516],
    [0.762462325724514, 0.17675381094088127],
    [0.8646206065391742, 0.4289513713302239],
    [0.7086382515784717, 0.1718070095596751],
    [0.07308462517167347, 0.7068687883532849],
    [0.7429722924973284, 0.19681071128913086],
    [0.685062552324161, 0.011556200983953824],
    [0.05599840395566957, 0.5147182562252324],
    [0.9645548277207796, 0.4500437929854587],
    [0.25076267013066156, 0.8845898320940508],
    [0.12851981469617013, 0.7983431014344502],
    [0.01817344753341743, 0.845385785214988]
  ])
inner = inner.T
outer = outer.T
df_in = pd.DataFrame({'X': inner[0], 'Y': inner[1], 'class': -1})
df_out = pd.DataFrame({'X': outer[0], 'Y': outer[1], 'class': 1})
df = pd.concat(([df_in,df_out]), ignore_index = True)

In [3]:
plt.scatter(inner[0], inner[1], color = 'red')
plt.scatter(outer[0], outer[1], color = 'blue')
plt.show()

In [4]:
train, test1, y, y_test = train_test_split(df[['X', 'Y']], df['class'], test_size=0.2)

In [5]:
X = pd.DataFrame({'C': 1, 'X': train.X, 'Y': train.Y, 'X^2': train.X*train.X, 'X*Y': train.X*train.Y, 'Y*X': train.X*train.Y, 'Y^2': train.Y*train.Y})

In [6]:
beta = np.zeros(7)
beta = classificator(beta, X, y)

C     -0.008114
X     -0.012920
Y      0.004026
X^2    0.064112
X*Y   -0.050220
Y*X   -0.050220
Y^2    0.042664
dtype: float64

In [7]:
plot(train, y, beta)
plt.show()

In [8]:
test(test1, beta)

    C         X         Y       X^2       X*Y       Y*X       Y^2  Predicted
14  1  0.846590  0.126805  0.716715  0.107352  0.107352  0.016079          1
8   1  0.826693  0.970862  0.683421  0.802604  0.802604  0.942572         -1
27  1  0.128520  0.798343  0.016517  0.102603  0.102603  0.637352          1
13  1  0.261937  0.207272  0.068611  0.054292  0.054292  0.042962         -1
18  1  0.762462  0.176754  0.581349  0.134768  0.134768  0.031242          1
6   1  0.579949  0.860210  0.336341  0.498878  0.498878  0.739962         -1

In [9]:
test0 = test(test1, beta)

df_compare = pd.concat([test0[['X', 'Y', 'Predicted']], y_test], axis = 1)
df_compare

           X         Y  Predicted  class
14  0.846590  0.126805          1      1
8   0.826693  0.970862         -1     -1
27  0.128520  0.798343          1      1
13  0.261937  0.207272         -1     -1
18  0.762462  0.176754          1      1
6   0.579949  0.860210         -1     -1

In [10]:
plot(test1, y_test, beta)
plt.show()

In [11]:
inner = np.asarray([
    [0.6721751810634596, 0.18449311250437642],
    [-0.042169919316812694, 0.49680717330122753],
    [0.036908766218045196, 0.23196814194239498],
    [-0.18516646555268645, -0.16324434635897248],
    [0.19909138385183697, -0.20702094026594725],
    [-0.2623894406811841, 0.4468810030788092],
    [0.619550362174564, 0.03980697858179339],
    [0.4418628679007078, -0.0039497588794656585],
    [0.2802286875966722, -0.3525718017732991],
    [0.07448927922989906, -0.4973644925498143],
    [0.6422888179711995, -0.0035410965993326157],
    [0.039664220315716536, 0.34884886593497205],
    [0.4825251758452453, 0.5597992922297098],
    [-0.12480141590985117, 0.3639607311580515],
    [0.45864564291438903, 0.5039088481769888],
    [0.4953345038557703, 0.29819697998837763],
    [0.2106700620743459, -0.2647756656167547],
    [-0.16518914904666915, 0.31212217489262595],
    [0.23046293495668924, -0.013246417684656153]
  ])

outer =  np.asarray([
    [0.8281937591326639, -0.48370952458304206],
    [-0.7858693510608477, -0.23619862036716505],
    [-0.71001136864972, 0.41404672725112407],
    [-0.4664238951665492, 0.7619952612050831],
    [-0.457969679633352, 0.6615982411339161],
    [0.5983181292607914, -0.8221655651644655],
    [0.8221320333779605, -0.15771200790888465],
    [-0.49537312338291506, -0.7711426700819444],
    [-0.7422364964100625, 0.7182224765639817],
    [-0.6377879808015602, 0.5664880970210512],
    [-0.9306163344230406, 0.40367110070906637],
    [-0.8220373822748085, 0.6909977471317875],
    [0.8486753113201562, 0.63804443731353],
    [-0.6326025764414666, -0.5660631348100686],
    [-0.7988878989878563, -0.7972747092759437],
    [0.8665672650446975, 0.09077183191199585],
    [0.8297187116097032, -0.19949614828904294],
    [-0.7881099342086356, 0.5319196165347493],
    [-0.6965345338796621, 0.034560747319591745],
    [-0.5844695109910769, 0.8287781873912904]
  ])


inner = inner.T
outer = outer.T
df_in = pd.DataFrame({'X': inner[0], 'Y': inner[1], 'class': -1})
df_out = pd.DataFrame({'X': outer[0], 'Y': outer[1], 'class': 1})
df = pd.concat(([df_in,df_out]), ignore_index = True)

In [12]:
plt.scatter(inner[0], inner[1], color = 'red')
plt.scatter(outer[0], outer[1], color = 'blue')
plt.show()

In [13]:
train, test1, y, y_test = train_test_split(df[['X', 'Y']], df['class'], test_size=0.2)

In [14]:
X = pd.DataFrame({'C': 1, 'X': train.X, 'Y': train.Y, 'X^2': train.X*train.X, 'X*Y': train.X*train.Y, 'Y*X': train.X*train.Y, 'Y^2': train.Y*train.Y})

In [15]:
beta = np.zeros(7)
beta = classificator(beta, X, y)

C     -0.042956
X     -0.079852
Y     -0.034761
X^2    0.179659
X*Y    0.003282
Y*X    0.003282
Y^2    0.100174
dtype: float64

In [16]:
plot(train, y, beta)
plt.show()

In [17]:
test(test1, beta)

    C         X         Y       X^2       X*Y       Y*X       Y^2  Predicted
15  1  0.495335  0.298197  0.245356  0.147707  0.147707  0.088921         -1
35  1  0.829719 -0.199496  0.688433 -0.165526 -0.165526  0.039799          1
3   1 -0.185166 -0.163244  0.034287  0.030227  0.030227  0.026649         -1
16  1  0.210670 -0.264776  0.044382 -0.055780 -0.055780  0.070106         -1
1   1 -0.042170  0.496807  0.001778 -0.020950 -0.020950  0.246817         -1
22  1 -0.466424  0.761995  0.217551 -0.355413 -0.355413  0.580637          1
8   1  0.280229 -0.352572  0.078528 -0.098801 -0.098801  0.124307         -1
7   1  0.441863 -0.003950  0.195243 -0.001745 -0.001745  0.000016         -1

In [18]:
test0 = test(test1, beta)

df_compare = pd.concat([test0[['X', 'Y', 'Predicted']], y_test], axis = 1)
df_compare

           X         Y  Predicted  class
15  0.495335  0.298197         -1     -1
35  0.829719 -0.199496          1      1
3  -0.185166 -0.163244         -1     -1
16  0.210670 -0.264776         -1     -1
1  -0.042170  0.496807         -1     -1
22 -0.466424  0.761995          1      1
8   0.280229 -0.352572         -1     -1
7   0.441863 -0.003950         -1     -1

In [19]:
plot(test1, y_test, beta)
plt.show()